extends layout

block content
  h1= title
  p Welcome to #{title}
 
  ul
    li Members
      p /signup
         form(action='/signup', method='post')
          p
           | name:
           input(type='text', name='name')
          p
           | email:
           input(type='text', name='email')
          p
           | password:
           input(type='text', name='password')
          p
           input(type='submit', value='Signup')
           input(type='reset', value='Reset')
     p /login
         form(action='/login', method='post')
          p
           | name_or_email:
           input(type='text', name='name_or_email')
          p
           | password:
           input(type='text', name='password')
          p
           input(type='submit', value='Login')
           input(type='reset', value='Reset')
     p /logout
         form(action='/logout', method='get')
           input(type='submit', value='Logout')
