extends layout

block content
  h1= title
  p Welcome to #{title}
 
  ul
    li Members
      p /signup
         form(action='/signup', method='post')
          p
           | name:
           input(type='text', name='name')
          p
           | email:
           input(type='email', name='email')
          p
           | password:
           input(type='password', name='password')
          p
           input(type='submit', value='Signup')
           input(type='reset', value='Reset')
     p /login
         form(action='/login', method='post')
          p
           | name_or_email:
           input(type='text', name='name_or_email')
          p
           | password:
           input(type='text', name='password')
          p
           input(type='submit', value='Login')
           input(type='reset', value='Reset')
     p /logout
         form(action='/logout', method='get')
           input(type='submit', value='Logout')
  ul
    li Datas 
     p /datas/create
         form(action='/datas/create', method='post')
          p
           | name:
           input(type='text', name='name')
          p
           | geo[type]:
           input(type='text', name='geo[type]')
          p
           | geo[coordinates] longtitude (-180° 〜 180°):
           input(type='text', name='geo[coordinates][]')
          p
           | geo[coordinates] latitude (-90° 〜 90°):
           input(type='text', name='geo[coordinates][]')
          p
           | image:
           input(type='file', name='image')
          p
           input(type='submit', value='Data Create')
           input(type='reset', value='Reset')
     p /datas/show
         form(action='/datas/show', method='get')
           input(type='submit', value='Data show!!')
